body, div, h1, h2, h3, h4, h5, h6, p, ul, img {
    margin:0px; padding:0px;
}

body{
    font-family:helvetica;
}
#wrapper{
    background-color:#3a6db7;
    padding: 10px 30px 0px 30px;
    margin:auto;
    height:100vh;
}
#title {
    text-align:center;
    color:#e8bf2e;
    font-family:arial;
    font-size:20px;
}

#usernameIndicator h2
{
    color:#e8842e;
    float:left;
    width:90%;
    text-decoration: underline;
}

#currentOnline{
}

#main
{
    height:calc(100vh - 150px);

}

#messageArea{
    width:90%;
    height:100%;
    background-color:#ffffff;
    float:left;
    overflow:auto;
    border: 1px solid;
    position: relative;
    border-radius:5px;
}

#messages{
    width:100%;
    position: absolute;
    bottom: 0px;

    max-height:100%;



}

#messages li {
    padding: 5px 10px;
}

#messages li:nth-child(odd) { 
    background: #eee;
}

#usernames{
    height:100%;
    background-color:#e5e5e5;
    border: 1px solid;
    width:9%;
    float:left;
    overflow:auto;
    border-radius:5px;
}

#messagebarArea{
    width:100%;
}
#form{
    width:100%;


}

form input { 
     width:90%;
     margin-top:20px;
     margin-bottom:20px;
     border-radius:5px;

}

form button {
    width: 9%; 
    background: rgb(130, 244, 255); 
    border-radius:5px;
}